<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-2 col-lg-8 offset-lg-2">
      <h1>Login</h1>
      <%= render 'form' %>
      <div class="text-center">
        <%= link_to 'SignUp', new_user_path %>
        <%= link_to 'Forget Password?', "#" %>
      </div>
    </div>
  </div>
</div>
